<!DOCTYPE html>
{% extends 'basicapp/basicapp_base.html' %}
  {% block body_block %}
  <div class="jumbotron">
    <h1>School List</h1>
    <ol>
      {% for school in schools %}
      <h2>
        <li>
          {{ school.name }}
          <a href="{{ school.pk }}">
            <span class="glyphicon glyphicon-search"></span>
          </a>
          <!-- <a class="addschool" href="{% url 'basicapp:update' pk=school.pk %}" title="Add School"> -->
          <!-- <a class="addschool" data-form="{% url 'basicapp:update' pk=school.pk %}" title="Add School"> -->
          <a class="addschool" data-form="{% url 'basicapp:update' pk=school.pk %}" title="Add School">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a href="{% url 'basicapp:delete' pk=school.pk %}">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </li>
         </h2>
      {% endfor %}
    </ol>
    <a href="{% url 'basicapp:create' %}">
      <button class="btn btn-warning" type="button" name="Add">Add</button>
    </a>
  </div>

  <div>
      <button class="btn btn-primary" data-toggle="modal" data-target="#schooledit">
          SchoolEdit
      </button>
      {% include "basicapp/school_edit_form.html" %}
  </div>

  <!-- <button class="btn btn-warning" id="modal-control" type="button" name="Show">Modal Form</button>

  <div class="modal hide" id="schoolModal">
  </div> -->

  <!-- <div id="overlay">
       <div>
            <p>Content you want the user to see goes here.</p>
            <button class="btn btn-warning" id="close-modal-control" type="button" name="Close">Close Form</button>
       </div>
  </div>

  <div id="somediv">
        Click me!
          <a  href="#" title="Add Site">add - NOT THIS ONE</a>
  </div>   -->

  {% endblock %}
