{% extends 'base.html' %}
  {% block body_block %}
    <div class="container">
      <div class="page-header">
        <h2>Order Form 1</h2>
      </div>

      <h3>Welcome !</h3>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <form class="form-group" method="POST">
               {% csrf_token %}
               {{ NewOrderForm.as_p }}
               <input class="btn btn-primary" type="submit" value="Submit">
            </form>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            {{ NewOrderForm.description }}
          </div>
          <div class="form-group">
          <label for="id_size">Size</label>
          {{ NewOrderForm.size }}
          </div>
        <div class="form-group">
          {{ NewOrderForm.color }}
        </div>
        </div>
    </div>

  {% endblock %}
